# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Dependencias
node_modules/


# Builds / artefactos
dist/
build/
.vite/
dist-ssr/


# Entornos (¡muy importante para no subir credenciales!)
.env
.env.local
.env.development
.env.production
.env.test
.env.*
!.env.example
*.local


# Cache / temporales
*.tsbuildinfo
coverage/
*.lcov


# IDE / SO
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
